[Unit]
Description=Set up reverse SSH
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ssh -vv -o ExitOnForwardFailure=yes -o BatchMode=yes -o ConnectTimeout=5 -o ServerAliveInterval=30 -N -L 62123:irc.example.com:6697 cd
KillSignal=SIGINT
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
