[Unit]
ConditionPathExists=/usr/bin/matterhorn
ConditionPathExists=%h/.config/matterhorn/config.ini

[Service]
ExecStart=/bin/sh -c "exec %h/bin/start-matterhorn"
Restart=on-failure
