[Unit]
ConditionPathExists=/usr/bin/synclient

[Service]
Type=oneshot
ExecStart=/usr/bin/synclient \
        TapButton2=3 VertScrollDelta=350 HorizScrollDelta=350 \
        AccelFactor=0 MinSpeed=1.4 HorizTwoFingerScroll=1 PalmDetect=1 \
        TapButton1=1
