[Service]
Type=forking
# See https://github.com/tmux/tmux/issues/182 for why we can't use start-server
ExecStart=/usr/bin/tmux new-session -d -s _systemd cat
