[Service]
Type=oneshot
# See https://github.com/tmux/tmux/issues/182 for why we can't use start-server
ExecStart=/usr/bin/tmux new-session -A -s _systemd cat
