BreakStringLiterals: false
IndentWidth: 4
PenaltyReturnTypeOnItsOwnLine: 999
PenaltyBreakComment: 0
SortIncludes: true
UseTab: Never
IndentPPDirectives: BeforeHash
IndentCaseLabels: true

# Per rationale in https://github.com/systemd/systemd/commit/c90ee8340078
ColumnLimit: 109
