[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule ".vim/bundle/indent-object"]
	path = .vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/gpg"]
	path = .vim/bundle/gpg
	url = https://github.com/jamessan/vim-gnupg
[submodule ".vim/bundle/abolish"]
	path = .vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/liquid"]
	path = .vim/bundle/liquid
	url = https://github.com/tpope/vim-liquid
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule ".vim/bundle/sleuth"]
	path = .vim/bundle/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule ".vim/bundle/conflictmotions"]
	path = .vim/bundle/conflictmotions
	url = https://github.com/vim-scripts/ConflictMotions.git
[submodule ".vim/bundle/countjump"]
	path = .vim/bundle/countjump
	url = https://github.com/inkarkat/vim-CountJump.git
[submodule ".vim/bundle/ingo-library"]
	path = .vim/bundle/ingo-library
	url = https://github.com/inkarkat/vim-ingo-library.git
[submodule ".local/share/nvim/site/pack/lspconfig/start/lspconfig.nvim"]
	path = .local/share/nvim/site/pack/lspconfig/start/lspconfig.nvim
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".local/share/nvim/site/pack/lspconfig/start/trouble.nvim"]
	path = .local/share/nvim/site/pack/lspconfig/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim.git
[submodule ".vim/bundle/textobj-function"]
	path = .vim/bundle/textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule ".vim/bundle/textobj-user"]
	path = .vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".local/share/nvim/site/pack/lspconfig/start/lsp_lines.nvim"]
	path = .local/share/nvim/site/pack/lspconfig/start/lsp_lines.nvim
	url = https://git.sr.ht/~whynothugo/lsp_lines.nvim
