/.aws/config
/.boto
/.config/burp/burp.conf
/.config/gcloud/.metricsUUID
/.config/gcloud/application_default_credentials.json
/.config/gcloud/credentials
/.config/gcloud/gce
/.config/gcloud/legacy_credentials/chris@chrisdown.name/.boto
/.config/gcloud/legacy_credentials/chris@chrisdown.name/gaejava.txt
/.config/gcloud/legacy_credentials/chris@chrisdown.name/multistore.json
/.config/gcloud/legacy_credentials/chris@chrisdown.name/singlestore.json
/.config/gcloud/properties
/.config/mbsync/personal
/.config/msmtp/chris@chrisdown.name
/.config/mutt/accounts/chris@chrisdown.name
/.config/mutt/aliases
/.config/shell/rc/trello
/.duply/bitbucket/_pre
/.duply/bitbucket/conf
/.duply/github/conf
/.duply/google-drive/conf
/.duply/mozilla/conf
/.duply/trello/conf
/.irssi/personal/certs/oftc-cdown.pem
/.irssi/personal/config
/.irssi/personal/keepnick
/.mpdscribble/mpdscribble.conf
/.pypirc
/.s3cfg
/.ssh/keys/personal
/bin/pushbullet-push
/bin/trello-backup
/bin/trello-popup
