[user]
    name = Chris Down
    email = chris@chrisdown.name
[color]
    ui = auto
[push]
    default = current
[merge]
    tool = vimdiff
    conflictstyle = diff3
[rebase]
    autosquash = true
[alias]
    why-ignore = check-ignore -v
[diff "gpg"]
    textconv = gpg -q --no-tty --decrypt
