[user]
    name = Chris Down
    email = chris@chrisdown.name
    signingkey = A7CC9B4D
[core]
    excludesfile = /home/chris/.gitignore_global
[color]
    ui = always
[alias]
    new = log HEAD..@{u}
    old = log @{u}..HEAD
    up = !sh -c 'git pull --rebase --prune && git log --pretty=format:\"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)\" HEAD@{1}..'
[push]
    default = current
