# GPG encrypted files
/.aws/config
/.config/burp/burp.conf
/.config/mutt/accounts/chris@chrisdown.name
/.config/mutt/aliases
/.mpdscribble/mpdscribble.conf
/.offlineimaprc
/.pypirc
/.s3cfg
/.ssh/config
