execute = mkdir,-p,~/.rtorrent
execute = mkdir,-p,~/Downloads/rTorrent

download_rate = 200
upload_rate = 25

max_peers = 4
max_peers_seed = 2

directory = ~/Downloads/rTorrent
session = ~/.rtorrent

schedule = watch_directory,10,10,load_start=~/Downloads/*.torrent
schedule = tied_directory,10,10,start_tied=
schedule = untied_directory,10,10,close_untied=

port_range = 40000-60000
port_random = yes

encryption = try_outgoing,require,require_RC4
